@model IEnumerable<InventoryControl.Models.Inventory>
@{
    ViewData["Title"] = "Show";
}

<h2>Show</h2>

<p>@ViewBag.Message</p>

<table class="table">
    <tr>
        <th>ID</th><th>数量</th><th>日付</th><th>itemID</th><th>storeId</th><th>warehouseId</th>
    </tr>
    @foreach (var invent in Model)
    {
        <tr>
            <td>@invent.Id</td>
            <td>@invent.Quantity</td>
            <td>@invent.ReleaseDate</td>
            <td>@invent.ItemId</td>
            <td>@invent.StoreId</td>
            <td>@invent.WarehouseId</td>
        </tr>
    }
</table>